/* 
INFO: 
Bootstrap is used here -> in order to overwrite, use: 
    <selector>[theme]           for elements in all themes, 
    <selector>[theme="dark"]    for elements only in dark mode,
    <selector>[theme=light"]    for elements only in light mode
*/

@import url("/static/css/themes.css");
@import url("/static/css/layout.css");

/* 01 Generic STYLES that apply for all html pages ------------------------------ */
html[theme] .container-fluid {
    margin-top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
}

html[theme] .container-fluid-content {
    height: 100%; 
    overflow: hidden;
}

html[theme] main,
html[theme] aside {
    background-color: var(--bg);
    margin-top: 0;
    border-radius: 10px;
}

/* 02 General classes for all pages --------------------------------------------- */



/* 03 specific elements -------------------------------------------------------- */


/* MEDIA QUERIES --------------------------------------------------------------- */
@media (min-width: 768px) {
  

}