/* 
INFO: 
Bootstrap is used here -> in order to overwrite, use: 
    <selector>[theme]           for elements in all themes, 
    <selector>[theme="dark"]    for elements only in dark mode,
    <selector>[theme=light"]    for elements only in light mode
*/

@import url("/static/css/themes.css");
@import url("/static/css/layout.css");

/* 01 Generic STYLES that apply for all html pages ------------------------------ */
html {
    height: 100%;
}
html[theme] * {
 
    padding: 0;
    color: var(--text);
    box-sizing: border-box;
}

html[theme] h1,
html[theme] h2,
html[theme] h3,
html[theme] h4,
html[theme] h5,
html[theme] h6 {
    color: var(--title);
    text-shadow: 1px 2px 4px var(--title-shadow);
}

html[theme] body {
    background-color: var(--bg);
}

html[theme] nav {
    background-color: var(--nav-bg);
    color: var(--link-text-hover);
    padding: 0 15px;
    min-height: var(--nav-height);
}

html[theme] nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

html[theme] a:hover {
    color: var(--link-text-hover);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--link-text-hover);
    text-decoration-thickness: 1px;
}

footer {
    background-color: var(--nav-bg);
}

html[theme] footer p {
    color: white;
}

html[theme] footer a {
    text-decoration: none;
    color: var(--link);
    width: fit-content;
}

html[theme] footer a:hover {
    text-decoration: none;
}

html[theme] footer a i {
    color: white;
    transition: color 0.4s ease ;
}

html[theme] footer a i:hover {
    color: var(--link);
    text-decoration: none;
}

/* 02 General classes for all pages --------------------------------------------- */
html[theme] .btn {
    background-color: var(--act-bg);
    color: var(--act-text);
    border: 1px solid var(--act-border);
    padding: 6px 16px;
    margin: 2px;
    font-weight: 600;
}

html[theme] .btn:hover {
    background-color: var(--act-bg-hover);
    color: var(--act-text-hover);
    border: 1px solid var(--act-text-hover);
    text-decoration: none;
    
}

.navbar-nav .nav-link {
    font-size: 25px;
}

.navbar-brand {
    padding: 0;
}

html[theme] .navbar-toggler,
html[theme] .navbar-toggler:focus {
    border: none;   
    outline: none;
    box-shadow: none; 
    transition: background-color 0.4s ease-out;
}

html[theme] .navbar-toggler:active {
    background-color: #ffffff50;
}


/* 03 specific elements -------------------------------------------------------- */
#btContactDesktop {
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 10px;
}

#theme-toggle {
    background-color: #ffffff20;
    border: var(--act-text);
    margin: 10px 15px;
}

#language-toggle {
    display:none;
    background-color: var(--act-text);
    border: var(--act-text);
}

#theme-toggle:hover,
#language-toggle:hover {
    background-color: #ffffff50;
}

/* MEDIA QUERIES --------------------------------------------------------------- */
@media (min-width: 768px) {
    .btn {
        padding: 10px 18px;
    }

    #btnContactMobile {
        display: none;
    }

    .navbar-nav .nav-link {
        font-size: 20px; 
    }

    #theme-toggle {
        border: var(--act-text);
        margin-left: 10px;
        margin-right: 0;
    }
}

@media (min-width: 992px) {

}

