{% extends "rooms/base.html" %}
{% load static %}
{% load rooms_extras %}
{% load widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'rooms/css/calendar.css' %}">
{% endblock %}


{% block content %}
<!-- calendar content starts here (now it get's tricky ;)) ------------------------------------------------------------->


<div class="container-fluid p-0">
    <div class="container-fluid-content d-flex flex-column flex-md-row">
  
      <!-- Left desktop filter drawer (in mobile-mode: hidden) -->
      <aside id="filter-panel" class="d-none d-md-block col-md-3 p-3 m-1">
        <!-- filters here -->
        <h5>Filter</h5>
        <h5 class="mb-3">Room Size</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="large" id="filterSizeLarge">
            <label class="form-check-label" for="filterSizeLarge">Large (bis 10 Personen)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="medium" id="filterSizeMedium">
            <label class="form-check-label" for="filterSizeMedium">Medium (bis 5 Personen)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="small" id="filterSizeSmall">
            <label class="form-check-label" for="filterSizeSmall">Small (bis 3 Personen)</label>
        </div>

        <hr class="my-4">

        <h5 class="mb-3">Instruments</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="piano" id="filterInstrumentPiano">
            <label class="form-check-label" for="filterInstrumentPiano">Piano</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="drumkit" id="filterInstrumentDrumkit">
            <label class="form-check-label" for="filterInstrumentDrumkit">Drum Kit</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="amps" id="filterInstrumentAmps">
            <label class="form-check-label" for="filterInstrumentAmps">Amps (Gitarre / Bass)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="synth" id="filterInstrumentSynth">
            <label class="form-check-label" for="filterInstrumentSynth">Synthesizer</label>
        </div>
      </aside>
  
      <!-- Mobile filter Button (mobile only) -->
      <button class="btn btn-outline-secondary d-md-none m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileFilterDrawer" aria-controls="mobileFilterDrawer">
        Filter
      </button>
  
      <!-- Mobile Filter Drawer (in desktop mode: hidden)-->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileFilterDrawer" aria-labelledby="mobileFilterDrawerLabel">
        <div class="offcanvas-header">
          <h5 id="mobileFilterDrawerLabel">Filter</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <!-- same filters here, just for mobile version -->
          <p>Filteroptionen hier...</p>
        </div>
      </div>
  
      <!-- Main calendar interface -->
      <main class="flex-fill p-3 mt-1 mb-md-1" id="calendar-interface">
        <!-- the ACTUAL calendar interface -->
        <form action="" method="get" class="d-block ms-auto me-auto" id="dateForm">
            <input type="date" id="myDatePicker" name="selected_date" class="btn d-block ms-auto me-auto" 
                value="{{ cursor.date|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}">
        </form>
        <!-- gridview per half an hour from 00:00 to 00:00 in one day, top to bottom-->
        <div class="calendar-wrapper" id="calendar-wrapper">
            <div class="calendar-grid">
                <!-- First row: header -->
                <div class="calendar-time time-label"></div> <!-- leere Ecke -->
                {% if rooms|length == 3 %}
                    <style>:root { --rooms-count: {{ rooms.count }};}</style>
                {% endif %}
                {% for room in rooms %}
                    <div class="calendar-header">{{ room.name }}</div>
                {% endfor %}
                
                <!-- Rows: 24 hours, 2 half hours -->
                {% for hour in hours %}
                    {% for half in "0,1"|cut:"," %}  {# trick zum Split #}
                        <div class="calendar-time {% if half == '1' %}half-hour{% endif %}">
                            {% if half == '0' %}{{ hour }}:00{% endif %}
                        </div>
                        {% for room in rooms %}
                        {% with hour|addstr:"-"|addstr:half|addstr:"-"|addstr:room.id as key %}
                        <div class="calendar-cell 
                            {% if half == '1' %}half-hour{% endif %}
                            {% if key in cursor.user_cell_keys %} bg-user-booked
                            {% elif key in cursor.all_cell_keys %} bg-blocked {% endif %}"
                            data-hour="{{ hour }}" 
                            data-half=" {{ half }}" 
                            data-room="{{ room.id }}"
                            data-selected="false"
                            data-blocked="{% if key in cursor.user_cell_keys or key in cursor.all_cell_keys %}true{% else %}false{% endif %}">
                                
                        </div>
                        {% endwith %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
        
        </div>
      </main>
  
      <!-- Right SlideView -->
      <!-- desktop -->
    <aside id="slot-detail-panel" class="d-none d-md-block col-md-3 p-3 m-1">
        <h5>Details for your selection</h5>
        <form method="post" action="{% url 'rooms:booking' %}" id="booking-form">
            {% csrf_token %}
          
            <div class="mb-3 d-flex justify-content-between align-items-center form-item-container">
                <label for="{{ form.room.id_for_label }}" class="me-3 mb-0">{{ form.room.label }}</label>
                {{ form.room|attr:"id:id_room"|attr:"hidden" }}
                
                <select name="room_fake_id" id="id_room_fake" disabled>
                    {% for room in rooms %}
                      <option value="{{ room.id }}">{{ room.name }}</option>
                    {% endfor %}
                  </select>
            </div>
          
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <label for="{{ form.start.id_for_label }}" class="me-3 mb-0">{{ form.start.label }}</label>
                {{ form.start|attr:"readonly"|attr:"id:id_start" }}
            </div>
          
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <label for="{{ form.end.id_for_label }}" class="me-3 mb-0">{{ form.end.label }}</label>
                {{ form.end|attr:"readonly"|attr:"id:id_end" }}
            </div>
          
            {{ form.user }} {# hidden input #}
          
            <button type="submit" class="btn btn-primary mt-3 w-100" id="booking-submit">Confirm</button>
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
          </form>
          <p id="form-error-msg" class="text-danger"></p>
    </aside>
  
      <!-- mobile slide up-->
      <div id="mobile-slideup" class="d-md-none position-fixed bottom-0 start-0 w-100 slideup-container" >
        <div class="handle text-center py-2 text-white" >
            <div>
                <i class="fas fa-grip-lines me-2 "></i>
                
            </div> 
        </div>
        <div class="p-3">
          <h6>details for the slot</h6>
          <p>stuff</p>
        </div>
      </div>
  
    </div>
  </div>
<!-- calendar content ends here --------------------------------------------------------------->
    
 <!-- calendar.js script -->
 <script type="module" src="{% static 'rooms/js/calendar.js' %}"></script>
{% endblock %}