{% extends "user/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
{% endblock %}


{% block content %}
<!-- index.html content starts here -->

<main class="container">
  <div class="hero">
    <div class="hero-image">
        <img src="{% static 'img/logos/gold_vinyl.webp' %}" class="slide" alt="hero section  image: big rehearsal room">
    </div>
    <div class="hero-text">
        <h1>Schallplatte</h1>
    </div>
  </div>

  <section class="card">
    <nav id="login-nav">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab" aria-controls="nav-login" aria-selected="true">login</button>
        <button class="nav-link" id="nav-register-tab" data-bs-toggle="tab" data-bs-target="#nav-register" type="button" role="tab" aria-controls="nav-register" aria-selected="false">register</button>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab" tabindex="0">login</div>
        <div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab" tabindex="0">register</div>
      </div>
    </nav>
  </section>
</main>
<!-- index.html content ends here -->
{% endblock %}