{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/notifications.css' %}">
{% endblock %}


{% block content %}
<!-- index.html content starts here --------------------------------------------------->
<!-- PROFILE DATA  --------------------------------------------------->
<main class="container-fluid ">  
    
  <section class="notification_section">
    <!-- BOOKED ITEMS SECTION  ---------------------------------------->
     <h1 class="ms-5 mb-5 mt-3">Booked rooms: </h1>
     {% if bookings %}
     <!-- <ul class="list-group"> -->
       {% for booking in bookings %}
         <li class="list-group-item">
          <div class="card p-4 notification-item">
            <div class="mobile_card_switcher">
              <div class="date_card text-center col-1">
                <h1 class="fs-1 mb-0 ">{{ booking.start_daytime|date:"d" }}</h1>
                <p>{{ booking.start_daytime|date:"F" }}</p>
              </div>
              <div class="card_content">
                <h5>{{ booking.room.name }}</h5>
                <br class="d-none d-md-inline">
                <p>
                  <strong>from</strong> {{ booking.start_daytime|date:"d.m.Y " }} <span class="time-color">{{ booking.start_daytime|date:"H:i" }}</span> 
                  <br>
                  <strong>to:</strong> {{ booking.end_daytime|date:"d.m.Y " }} <span class="time-color">{{ booking.end_daytime|date:"H:i" }}</span> 
                </p>
              </div>
              
                <div class="mobile_card_switcher_reverse">
                  <button class="btn ms-auto ms-md-0 p-1 fs-6 me-4">modify</button>
                  <button class="btn ms-5 ms-md-0 bg-danger border-none me-4 mt-3">Cancel</button>
                </div>
              
            </div>
          </div> 

           <!-- <strong>Raum:</strong> {{ booking.room.name }} <br>
           <strong>Von:</strong> {{ booking.start_daytime|date:"d.m.Y H:i" }}<br>
           <strong>Bis:</strong> {{ booking.end_daytime|date:"d.m.Y H:i" }} -->
         </li>
       {% endfor %}
     <!-- </ul> -->
    {% else %}
     <p>Du hast aktuell keine Buchungen.</p>
    {% endif %}

    <div class="text-center mt-5 mb-4"><a id="booking_section_btn" href="{% url 'rooms:calendar' %}" class="btn">Book now</a></div>
    
  </section>
</main>
<!-- index.html content ends here ----------------------------------------------------->
{% endblock %}