{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock %}


{% block content %}
<!-- index.html content starts here --------------------------------------------------->
<!-- PROFILE DATA  --------------------------------------------------->
<main class="container-fluid ">
  <section class="profile_section">
    <div class="row ">
      <div id="profile-photo" class="col-12 col-md-3 p-4">
        <div class="text-center">
          <i class="far fa-user fa-lg fa-7x "></i>
        </div>
      </div>
      <div class=" col-12 col-md-9 p-4">
        <div class="profile-head">
          <div><h4>Profile</h4></div>
          <a rel="stylesheet" href="{% url 'user:profile_edit'%}" class="btn">
            <i class="far fa-edit"></i>
          </a>
        </div>
        <br>
        <div id="profile-box">
          <div class="row" id="username-container">
            <div class="col-12 col-md-2 p-2"><strong>user name</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="username">
              {{ user.username  }}
            </div>
          </div>
          <div class="row" id="firstname-container">
            <div class="col-12 col-md-2 p-2"><strong>first name</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="firstname">
              {{ profile.firstname }}
            </div>
          </div>
          <div class="row" id="lastname-container">
            <div class="col-12 col-md-2 p-2"><strong>last name</strong></div>
            <div class="col-12 col-md-7 p-2 bg" id="lastname">
              {{ profile.lastname }}
            </div>
          </div>
          <div class="row" id="email-container">
            <div class="col-12 col-md-2 p-2"><strong>email</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="email">
              {{ user.email }}
            </div>
          </div>
          <div class="row" id="instruments-container">
            <div class="col-12 col-md-2 p-2"><strong>instruments</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="instruments">
              {{ profile.instruments }}
            </div>
          </div>
          <div class="row" id="about-user-container">
            <div class="col-12 col-md-2 p-2"><strong>About Me</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="about-user">
              {{ profile.about }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    
  <section class="booking_section">
    <!-- BOOKED ITEMS SECTION  ---------------------------------------->
     <h1 class="ms-5 mb-5 mt-3">Booked rooms: </h1>
     {% if bookings %}
     <!-- <ul class="list-group"> -->
       {% for booking in bookings %}
       <!-- Booking item -->
         <li class="list-group-item">
          <div class="card p-4 booking-item">
            <div class="mobile_card_switcher">
              <div class="date_card text-center col-1">
                <h1 class="fs-1 mb-0 ">{{ booking.start_daytime|date:"d" }}</h1>
                <p>{{ booking.start_daytime|date:"F" }}</p>
              </div>
              <div class="card_content">
                <h5>{{ booking.room.name }}</h5>
                <br class="d-none d-md-inline">
                <p>
                  <strong>from</strong> {{ booking.start_daytime|date:"d.m.Y " }} <span class="time-color">{{ booking.start_daytime|date:"H:i" }}</span> 
                  <br>
                  <strong>to:</strong> {{ booking.end_daytime|date:"d.m.Y " }} <span class="time-color">{{ booking.end_daytime|date:"H:i" }}</span> 
                </p>
              </div>
              
              <div class="mobile_card_switcher_reverse">
                <button class="btn ms-auto ms-md-0 p-1 fs-6 me-4">modify</button>
                <button type="button" class="btn ms-5 ms-md-0 bg-danger border-none me-4 mt-3"
                  data-bs-toggle="modal" data-bs-target="#confirmModal-{{ booking.id }}">
                  Cancel 
                </button>
              </div>
            </div>

          </div> 
        </li>

        <!-- Modal item -->
        <div class="modal fade" id="confirmModal-{{ booking.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ booking.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel-{{ booking.id }}">Are you sure to delete?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p>This booking item <strong>{{ booking.start_daytime|date:"d.m.Y H:i" }}</strong> to <strong>{{ booking.end_daytime|date:"d.m.Y H:i" }}</strong> will be cancelled.</p>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                <form method="POST" action="{% url 'user:delete_booking' booking.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn bg-danger border-none">Confirm deletion</button>
                </form>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}

      <!-- </ul> -->
      {% else %}
      <p>Du hast aktuell keine Buchungen.</p>
      {% endif %}
      
      <div class="text-center mt-5 mb-4"><a id="booking_section_btn" href="{% url 'rooms:calendar' %}" class="btn">Book now</a></div>
      
      
  </section>
</main>
<!-- index.html content ends here ----------------------------------------------------->
{% endblock %}