{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/profile_edit.css' %}">
{% endblock %}


{% block content %}
<!-- index.html content starts here --------------------------------------------------->
<!-- PROFILE DATA  --------------------------------------------------->
<main class="container-fluid ">
  <section class="profile_section">
    <div class="row ">
      <div id="profile-photo" class="col-12 col-md-3 p-4">
        <div class="text-center">
          <i class="far fa-user fa-lg fa-7x "></i>
        </div>
      </div>
      <div class=" col-12 col-md-9 p-4">
        <div class="profile-head">
          <div><h4>Profile - edit</h4></div>
          <a rel="stylesheet" href="{% url 'user:profile'%}" class="btn" id="btn-save">
            <i class="far fa-save"></i>
          </a>
        </div>
        <br>
        <form id="profile-form">
          <div class="row" id="username-container">
            <div class="col-12 col-md-2 p-2"><strong>User name</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="username">
              user10238
            </div>
          </div>
          <div class="row" id="firstname-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-firstname">First name</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="firstname">
              <input type="text" id="form-firstname" name="firstname" required>
            </div>
          </div>
          <div class="row" id="lastname-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-lastname">Last name</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="lastname">
              <input type="text" id="form-lastname" name="lastname" required>
            </div>
          </div>
          <div class="row" id="email-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-email">Email</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="email">
              <input type="email" id="form-email" name="email" required>
            </div>
          </div>
          <div class="row" id="instruments-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-instruments">Instruments</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="instruments">
              <input type="text" id="form-instruments" name="instruments" required>
            </div>
          </div>
          <div class="row" id="about-user-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-about">About Me</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="about-user">
              <textarea id="form-about" name="about" required></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>    
 
</main>
<!-- index.html content ends here ----------------------------------------------------->
{% endblock %}