{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock %}


{% block content %}
<!-- index.html content starts here --------------------------------------------------->
<!-- PROFILE DATA  --------------------------------------------------->
<main class="container-fluid ">
  <section class="profile_section">
    <div class="row ">
      <div id="profile-photo" class="col-12 col-md-3 p-4">
        <div class="text-center">
          <i class="far fa-user fa-lg fa-7x "></i>
        </div>
      </div>
      <div class=" col-12 col-md-9 p-4">
        <div class="profile-head">
          <div><h4>Profile</h4></div>
          <a rel="stylesheet" href="{% url 'user:profile_edit'%}" class="btn">
            <i class="far fa-edit"></i>
          </a>
        </div>
        <br>
        <div id="profile-box">
          <div class="row" id="username-container">
            <div class="col-12 col-md-2 p-2"><strong>user name</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="username">
              {{ user.username  }}
            </div>
          </div>
          <div class="row" id="firstname-container">
            <div class="col-12 col-md-2 p-2"><strong>first name</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="firstname">
              {{ profile.firstname }}
            </div>
          </div>
          <div class="row" id="lastname-container">
            <div class="col-12 col-md-2 p-2"><strong>last name</strong></div>
            <div class="col-12 col-md-7 p-2 bg" id="lastname">
              {{ profile.lastname }}
            </div>
          </div>
          <div class="row" id="email-container">
            <div class="col-12 col-md-2 p-2"><strong>email</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="email">
              {{ user.email }}
            </div>
          </div>
          <div class="row" id="instruments-container">
            <div class="col-12 col-md-2 p-2"><strong>instruments</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="instruments">
              {{ profile.instruments }}
            </div>
          </div>
          <div class="row" id="about-user-container">
            <div class="col-12 col-md-2 p-2"><strong>About Me</strong></div> 
            <div class="col-12 col-md-7 p-2 bg" id="about-user">
              {{ profile.about }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    
  <section class="booking_section">
    <!-- BOOKED ITEMS SECTION  ---------------------------------------->
    <h4>Deine Buchungen:</h4>

    {% if bookings %}
      <ul class="list-group">
        {% for booking in bookings %}
          <li class="list-group-item">
            <strong>Raum:</strong> {{ booking.room.name }} <br>
            <strong>Von:</strong> {{ booking.start_daytime|date:"d.m.Y H:i" }}<br>
            <strong>Bis:</strong> {{ booking.end_daytime|date:"d.m.Y H:i" }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Du hast aktuell keine Buchungen.</p>
    {% endif %}
    
     <h1 class="ms-5 mb-5 mt-3">Booked rooms: </h1>
    <div class="card p-4 booking-item">
      <div class="mobile_card_switcher">
        <div class="date_card text-center col-1">
          <h1 class="fs-1 white">09</h1>
          <p>April</p>
        </div>
        <div class="card_content">
          <h5>booking-item 1: the idea</h5>
          <br>
          <p>
            Albert and Max one day met for a coffee talking about music. The idea emerged that they wanted to build place
            where musicians can meet up and share their interest and devotion for music. Practicing instruments, meet the 
            peer group. Share excitement for own compositions. They decided to make the first move.
          </p>
        </div>
      </div>
    </div>

    <div class="card p-4 booking-item">
      <div class="mobile_card_switcher">
        <div class="date_card text-center col-1">
          <h1 class="fs-1 ">30</h1>
          <p>May</p>
        </div>
        <div class="card_content">
          <h5>booking-item 2: the purchase</h5>
          <br>
          <p>
            We found an old building that felt just right 
            for what we had in mind. Sure, there was a lot of work ahead - but we were determined to bring it to life.
          </p>
        </div>
      </div>
    </div>

    <div class="card p-4 booking-item">
      <div class="mobile_card_switcher">
        <div class="date_card text-center col-1">
          <h1 class="fs-1">12</h1>
          <p>June</p>
        </div>
        <div class="card_content">
          <h5>booking-item 3: the hard work</h5>
          <br>
          <p>
            There was a ton of work to do. First, we tackled the electrics - good music gear needs stable power, 
            especially those AMPs that love to gobble up energy. Next came the bathrooms and the cafeteria. 
            Albert was happy - finally, there was coffee at the center.
          </p>
        </div>
      </div>
    </div>

    <div class="card p-4 booking-item">
      <div class="mobile_card_switcher">
        <div class="date_card text-center col-1">
          <h1 class="fs-1">25</h1>
          <p>July</p>
        </div>
        <div class="card_content">
          <h5>booking-item 4: the rehearsal rooms are ready!</h5>
          <br>
          <p>
            That was definitely the most expensive and time-consuming part of the whole project. Which room should host 
            which instruments? Honestly - until then, we'd never really thought about how pricey music gear actually is.
            Not to mention the sound isolation, acoustic panels, paint, flooring... you name it.
            But in the end? We pulled it off - and pretty well, too.
          </p>
        </div>
      </div>
    </div>

    <div class="card p-4 booking-item">
      <div class="mobile_card_switcher">
        <div class="date_card text-center col-1">
          <h1 class="fs-1">12</h1>
          <p>August</p>
        </div>
        <div class="card_content">
          <h5>booking-item 5: Opening Party</h5>
          <br>
          <p>
            An unforgettable moment -almost 50 people showed up to our opening party. And not just for the barbecue and beer.
            SCHALLPLATTE is finally up and running!
          </p>
        </div>
      </div>
    </div>

    <!-- booking-items 2025 ------------------------------------->
    <br>

    <div class="card p-4 booking-item">
      <div class="mobile_card_switcher">
        <div class="date_card text-center col-1">
          <h1 class="fs-1">05</h1>
          <p>July</p>
        </div>
        <div class="card_content">
          <h5>booking-item 6: Our first rock festival</h5>
          <br>
          <p>
            Attention: We host our first rock festival on the area next to our center! Feel free to apply as a musician!
            There will be food and beverages, toilets etc! We'll keep you posted.
          </p>
        </div>
      </div>
    </div>
    
    <div class="text-center mt-5 mb-4"><a id="booking_section_btn" href="#" class="btn">book a room</a></div>

  </section>
</main>
<!-- index.html content ends here ----------------------------------------------------->
{% endblock %}