{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/profile_edit.css' %}">
{% endblock %}


{% block content %}
<!-- index.html content starts here --------------------------------------------------->
<!-- PROFILE DATA  --------------------------------------------------->
<main class="container-fluid ">
  <section class="profile_section">
    <div class="row ">
      <div id="profile-photo" class="col-12 col-md-3 p-4">
        <div class="text-center">
          <i class="far fa-user fa-lg fa-7x "></i>
        </div>
      </div>
      <div class=" col-12 col-md-9 p-4">
        <br>
        
        <form id="profile-form" method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          {% if form.errors %}
            <div class="alert alert-danger">
              <ul>
                {% for field in form %}
                  {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <div class="custom-flex justify-content-end mb-3">
            <h4 class="me-auto profile-head">Profile - edit</h4>
            <a href="{% url 'user:profile' %}" class="btn me-4" id="btn-cancel">Cancel</a>
            <button type="submit" class="btn " id="btn-save" >Save</button>
          </div>
          <div class="row" id="username-container">
            <div class="col-12 col-md-2 p-2"><strong>User name</strong></div> 
            <div class="col-12 col-md-7 p-2" id="username">
              {{ form.username }}
            </div>
          </div>
          <div class="row" id="firstname-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-firstname">First name</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2" id="firstname">
              {{ form.firstname }}
            </div>
          </div>
          <div class="row" id="lastname-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-lastname">Last name</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2" id="lastname">
              {{ form.lastname }}
            </div>
          </div>
          <div class="row" id="email-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-email">Email</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2" id="email">
              {{ form.email }}
            </div>
          </div>
          <div class="row" id="instruments-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-instruments">Instruments</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2 " id="instruments">
              {{ form.instruments }}
            </div>
          </div>
          <div class="row" id="about-user-container">
            <div class="col-12 col-md-2 p-2"><strong>
              <label for="form-about">About Me</label>
            </strong></div> 
            <div class="col-12 col-md-7 p-2 " id="about-user">
              {{ form.about }}
            </div>
          </div>
          
        </form>
      </div>
    </div>
  </section>    
 
</main>
<!-- index.html content ends here ----------------------------------------------------->
{% endblock %}