{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}


{% block content %}
<!-- index.html content starts here ------------------------------------------------------------->
<header class="hero">
    <div class="hero-image">
        <img src="{% static 'img/istock/istock01.jpg' %}" class="slide" alt="hero section  image: big rehearsal room">
    </div>
    <div class="hero-text">
        <div class="tHeader11"><span >Every</span></div>
        <div class="tHeader21"><span >musician</span></div>
        <div class="tHeader31"><span >will </span> <span class="tHeader32">find a room</span></div>
    </div>
</header>
<main class="flex-shrink-0">
</main>
<!-- index.html content ends here --------------------------------------------------------------->
{% endblock %}