@import url("/static/css/themes.css");
@import url("/static/css/layout.css");

* {
    margin: 0;
    padding: 0;
}

html[theme] nav {
    background-color: var(--nav-bg);
    color: var(--link-text-hover);
}